---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'input'> & { value: string };

const { class: className, ...props } = Astro.props;
---

<label
  class={twMerge(
    'flex items-center gap-2 px-3 py-1.5 text-xs select-none',
    'not-has-checked:hover:bg-brand-4/50 duration-300 motion-safe:transition-colors',
    className,
  )}
>
  <input
    {...props}
    type="radio"
    class:list={[
      'focusable relative size-3.5 appearance-none',
      'before:border-brand-9 bef before:absolute before:inset-0 before:rounded-full before:border',
      'motion-safe:before:transition-colors motion-safe:before:duration-300',
      'checked:before:bg-brand-9 not-checked:before:bg-transparent',
      'after:bg-brand-contrast after:absolute after:inset-1 after:rounded-full',
      'after:duration-300 motion-safe:after:transition-opacity',
      'not-checked:after:opacity-0 checked:after:opacity-100',
    ]}
  />
  <slot />
</label>
