---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';

type Props = HTMLAttributes<'div'> & RadioGroupItemsVariants;

export type RadioGroupItemsVariants = VariantProps<typeof radioGroupItemsVariants>;

export const radioGroupItemsVariants = tv({
  base: 'flex max-w-max',
  defaultVariants: { orientation: 'horizontal' },
  variants: { orientation: { horizontal: 'items-center', vertical: 'flex-col gap-1' } },
});

const { class: className, orientation, ...props } = Astro.props;
---

<div {...props} class={radioGroupItemsVariants({ orientation, className })}><slot /></div>
