---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'img'>;

const { class: className, ...props } = Astro.props;
---

<div class={twMerge('absolute inset-0 z-10 flex items-center justify-center p-10', className)}>
  <img
    {...props}
    x-cloak
    x-show="beforeSrc"
    x-ref="previewBefore"
    :src="beforeSrc"
    class:list={[
      'max-h-full rounded object-contain',
      'opacity-100 duration-200 motion-safe:transition-opacity starting:opacity-0',
    ]}
  />
</div>
