---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'input'> & { icon?: string };

const { class: className, icon, ...props } = Astro.props;
---

<div
  :class="!!$store.imageBox.src && '**:hidden'"
  class={twMerge(
    'relative flex size-full flex-col items-center justify-center gap-1 bg-fixed',
    'bg-[repeating-linear-gradient(-35deg,--alpha(var(--color-gray-2)/80%),--alpha(var(--color-gray-2)/80%)_3px,transparent_3px,transparent_7px)]',
    className,
  )}
>
  <slot />
  <input
    {...props}
    x-cloak
    x-show="!$store.imageBox.src"
    type="file"
    class="absolute inset-0 z-50 cursor-pointer opacity-0"
    @change={`
      const file = $event.target.files?.[0];
      if (!file) return;

      reader.readAsDataURL(file);
      reader.onload = (event) => {
        $store.imageBox.src = event.target.result;
        $store.imageBox.name = file.name;
        $store.imageBox.type = file.type;
        $store.imageBox.lastModified = new Date(file.lastModified).toLocaleString();
        $store.imageBox.size = file.size > 1024 * 1024 ? (file.size / (1024 * 1024)).toFixed(2) + ' MB' : (file.size / 1024).toFixed(2) + ' KB';
        $refs.previewBefore.onload = () => $store.imageBox.dimensions = $refs.previewBefore.width + 'x' + $refs.previewBefore.height;
      };
    `}
  />
</div>
