---
import Button from '@/components/button.astro';
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'input'>;

const { class: className, name, ...props } = Astro.props;
---

<div class="group relative flex shrink-0 items-center justify-center">
  <input
    {...props}
    {name}
    type="color"
    :value="activePalette[$el.dataset.index]"
    :name="name + '-' + $el.dataset.index"
    @change="handleControlValue"
    class={twMerge(
      'focusable size-8',
      '[&::-webkit-color-swatch]:rounded-border [&::-webkit-color-swatch-wrapper]:p-0',
      '[&::-moz-color-swatch]:rounded-border [&::-moz-focus-inner]:p-0',
      className,
    )}
  />
  <Button
    variant="brand-soft-outline"
    size="icon"
    icon="x"
    x-show="activePalette.length > 1"
    @click="activePalette = activePalette.filter((_,index) => index !== Number($el.previousElementSibling.dataset.index)); handleControlValue();"
    class:list={[
      'absolute -top-2 -right-2 size-5 rounded-full p-0 [&_svg]:size-3',
      'duration-300 not-group-hover:hidden group-hover:transition-[opacity,scale]',
      'group-hover:opacity-100 group-hover:starting:opacity-0',
      'group-hover:scale-100 group-hover:starting:scale-95',
    ]}
  />
</div>
