---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Item from './item.astro';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  x-ref="colorPickerGroupItems"
  class={twMerge(
    'scrollbar border-gray-s6/80 borders-r flex size-full flex-wrap items-center gap-2 overflow-y-auto px-4 py-2',
    'border-gray-6/80 bg-gray-2 border-r',
    className,
  )}
>
  <template x-for="(color, index) in activePalette"><Item :data-index="index" /></template>
</div>
