---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Item from './item.astro';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge(
    'scrollbar flex items-center gap-2 overflow-x-auto overflow-y-hidden',
    'border-gray-6 size-full border-r border-dashed p-2',
    className,
  )}
>
  <template x-for="(color, index) in activePalette"><Item :data-index="index" /></template>
</div>
