---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = Omit<HTMLAttributes<'input'>, 'type'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge(
    'rounded-border group/image-window-upload relative mx-4 mb-4 flex-1',
    'bg-gray-1 flex flex-col items-center justify-center',
    className,
  )}
>
  <input {...props} type="file" class="absolute inset-0 z-10 cursor-pointer rounded opacity-0" />
  <slot />
</div>
