---
import Button from '@/components/button.astro';
import Icon from '@/components/icon.astro';
import type { ComponentProps } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = ComponentProps<typeof Button>;

const { class: className, variant, ...props } = Astro.props;
---

<Button
  {...props}
  x-cloak
  :disabled="!ditheredImage"
  variant={variant ?? 'brand-soft-outline'}
  class={twMerge('mt-auto self-end', className)}
>
  <Icon name="download" /> Download
</Button>
