---
import Icon from '@/components/icon.astro';
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'> & { icon?: string };

const { class: className, icon, ...props } = Astro.props;
---

<div {...props} class={twMerge('flex flex-col items-center justify-center gap-2', className)}>
  <Icon name={icon ?? 'image-up'} variant="soft" class={twMerge('relative mb-4 size-24 opacity-50', className)} />
  <slot />
</div>
