---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge('flex size-full flex-col gap-8', className)}
  style={{ '--width': 'calc(var(--spacing)*2)' }}
  x-data="{ reader: new FileReader(), src: null, name: null, type: null, size: null, lastModified: null, dimensions: null }"
>
  <slot />
</div>
