---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'img'>;

const { class: className, ...props } = Astro.props;
---

<div x-cloak x-show="src" class="absolute inset-0 flex items-center justify-center rounded p-4">
  <img {...props} :src="src" class={twMerge('max-h-full rounded', className)} />
</div>
