---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import Icon from './icon.astro';

type Props = HTMLAttributes<'button'> & ButtonVariants & { icon?: string };

export type ButtonVariants = VariantProps<typeof buttonVariants>;

export const buttonVariants = tv({
  base: [
    'inline-flex items-center justify-center gap-2 px-4 whitespace-nowrap rounded focusable',
    'disabled:opacity-50 disabled:pointer-events-none motion-safe:transition-colors',
  ],
  defaultVariants: { variant: 'brand-solid', size: 'md' },
  variants: {
    variant: {
      'gray-solid': 'bg-gray-9 text-gray-contrast border-none hover:bg-gray-10 inset-shadow-sm inset-shadow-white/60',
      'gray-soft': 'bg-gray-3 text-gray-11 border-none hover:bg-gray-4',
      'gray-soft-outline': 'bg-gray-3 text-gray-11 border border-gray-7 hover:border-gray-8',
      'gray-outline': 'bg-transparent text-gray-11 border border-gray-7 hover:bg-gray-3',
      'gray-ghost': 'bg-transparent text-gray-11 border-none hover:bg-gray-3 hover:text-gray-12',
      'brand-solid': 'bg-brand-9 text-brand-contrast border-none hover:bg-brand-10',
      'brand-soft': 'bg-brand-3 text-brand-11 border-none hover:bg-brand-4',
      'brand-soft-outline': 'bg-brand-3 text-brand-11 border border-brand-7 hover:border-brand-8',
      'brand-outline': 'bg-transparent text-brand-11 border border-brand-7 hover:bg-brand-3',
      'brand-ghost': 'bg-transparent text-brand-11 border-none hover:bg-brand-3 hover:text-brand-12',
    },
    size: { sm: 'h-7 text-2xs', md: 'h-9 text-xs', lg: 'h-10 text-sm', icon: 'size-8' },
  },
  compoundVariants: [
    { variant: ['gray-soft', 'gray-soft-outline'], class: 'inset-shadow-sm inset-shadow-white/20' },
    { variant: ['gray-outline', 'gray-ghost'], class: 'hover:inset-shadow-sm hover:inset-shadow-white/20' },
  ],
});

const { class: className, type, variant, size, icon, ...props } = Astro.props;
---

<button {...props} type={type ?? 'button'} class={buttonVariants({ variant, size, className })}>
  <slot />
  {size === 'icon' && icon && <Icon name={icon} />}
</button>
