---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'form'>;

const { class: className, ...props } = Astro.props;
---

<form {...props} class={twMerge('flex flex-col gap-10', className)}><slot /></form>
