---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = Omit<HTMLAttributes<'div'>, 'role' | 'tabindex'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  x-cloak
  x-show="open"
  x-anchor.offset.5="$refs.trigger"
  x-ref="options"
  role="listbox"
  tabindex="-1"
  :id="id + '-options'"
  :style={`{ '--width': $refs.trigger.offsetWidth + 'px', '--height': $refs.trigger.offsetHeight + 'px' }`}
  @click.outside="open = false"
  class={twMerge(
    'bg-gray-2 rounded-border absolute z-40 flex flex-col shadow-2xl',
    'w-[var(--width)] motion-safe:transition-[opacity,translate]',
    'opacity-100 starting:opacity-0',
    'translate-y-0 starting:-translate-y-[calc(var(--height)+10px)]',
    className,
  )}
>
  <slot />
</div>
