---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'option'>;

const { class: className, ...props } = Astro.props;
---

<option
  {...props}
  class={twMerge(
    'focusable text-gray-11 checked:text-brand-12 rounded px-3 py-1',
    'hover:bg-gray-3 hover:text-gray-12 motion-safe:transition-colors',
    // Checkmark Icon
    '[&::checkmark]:size-4 [&::checkmark]:bg-current [&::checkmark]:[mask-size:cover]',
    '[&::checkmark]:[mask-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZWNrIj48cGF0aCBkPSJNMjAgNiA5IDE3bC01LTUiLz48L3N2Zz4=")]',
    className,
  )}
>
  <slot />
</option>
