---
import { buttonVariants, type ButtonVariants } from '@/components/button.astro';
import { renderSlot } from '@/libs/component';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'select'> & ButtonVariants & { defaultValue?: string | undefined };

const { class: className, variant, size, defaultValue, ...props } = Astro.props;
const html = renderSlot(await Astro.slots.render('default'), {
  option: { selected: ({ value }) => (value === defaultValue ? true : '') },
});
---

<div
  class={buttonVariants({
    size,
    variant: variant ?? 'gray-soft-outline',
    class: [
      'relative p-0 after:absolute after:top-1/2 after:right-4 after:-translate-y-1/2 after:z-10 after:size-4 after:content-[""]',
      'after:bg-current after:[mask-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93biI+PHBhdGggZD0ibTYgOSA2IDYgNi02Ii8+PC9zdmc+")] after:[mask-size:cover]',
      'motion-safe:after:duration-400 has-open:after:rotate-180 motion-safe:after:transition-transform',
      className,
    ],
  })}
>
  <select
    {...props}
    set:html={html}
    class:list={[
      'relative z-20 flex size-full items-center rounded px-4 [&::picker-icon]:opacity-0',
      '[appearance:base-select] not-supports-[appearance:base-select]:appearance-none',
      'focus:ring-gray-8 focus:ring focus:outline-none',
      // Popover
      '[&::picker(select)]:mt-2 [&::picker(select)]:[appearance:base-select] [&::picker(select)]:p-2',
      '[&::picker(select)]:bg-gray-1 [&::picker(select)]:text-gray-12 [&::picker(select)]:shadow-2xl',
      '[&::picker(select)]:rounded-border [&::picker(select)]:outline-none',
      '[&::picker(select)]:origin-top [&::picker(select)]:transition-discrete',
      '[&::picker(select)]:transition-[opacity_scale] [&::picker(select)]:duration-300',
      'open:[&::picker(select)]:opacity-100 motion-safe:open:[&::picker(select)]:starting:opacity-0',
      'open:[&::picker(select)]:scale-100 motion-safe:open:[&::picker(select)]:starting:scale-95',
      'not-open:[&::picker(select)]:opacity-0 motion-safe:not-open:[&::picker(select)]:starting:opacity-100',
      'not-open:[&::picker(select)]:scale-95 motion-safe:not-open:[&::picker(select)]:starting:scale-100',
    ]}
  />
</div>
