---
import '@/tailwind.css';
import '@fontsource-variable/geist';
import type { HTMLAttributes } from 'astro/types';
import { ClientRouter } from 'astro:transitions';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'main'>;

const { class: className, ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-gray-2 text-gray-12 scrollbar selection:bg-brand-12 selection:text-brand-1 antialiased">
  <head>
    <title>Dithered</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content="Dithered" />
    <meta name="description" content="Dithered" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script is:inline set:text="document.documentElement.classList.add('[&_[x-cloak]]:hidden')" />
    <ClientRouter />
  </head>
  <body class="mx-auto flex min-h-svh w-full max-w-screen-xl flex-col">
    <header></header>
    <main {...props} class={twMerge('flex-1 p-14', className)}><slot /></main>
  </body>
</html>
