---
import '@/tailwind.css';
import '@fontsource/geist-sans';
---

<!doctype html>
<html lang="en">
  <head>
    <title>Dithered</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content="Dithered" />
    <meta name="description" content="Dithered" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="flex min-h-svh flex-col antialiased">
    <header></header>
    <main class="flex-1"><slot /></main>
    <footer></footer>
  </body>
</html>
